.btn {
  border: solid 1px transparent;
  --disabled-color: theme('colors.gray.300');
  --disabled-text: theme('colors.gray.100');

  // Colors
  &-primary {
    --color: theme('colors.green.DEFAULT');
    --color-light: theme('colors.green.dark');
    --color-text: #FFFFFF;
  }
  &-secondary {
    --color: theme('colors.red.DEFAULT');
    --color-light: theme('colors.red.accent');
    --color-text: #FFFFFF;
  }
  &-white {
    --color: theme('colors.white.DEFAULT');
    --color-light: theme('colors.beige.DEFAULT');
    --color-text: theme('colors.green.dark');
  }

  // Variants
  &-fill {
    background-color: var(--color);
    border-color: var(--color);
    color: var(--color-text);
    &:hover {
      background-color: var(--color-light);
      border-color: var(--color-light);
    }
    &:disabled {
      background-color: var(--disabled-color);
      border-color: var(--disabled-color);
      color: var(--disabled-text);
    }
  }

  &-outline {
    border: solid var(--color) 1px;
    color: var(--color);
    &:hover {
      background-color: var(--color);
      color: var(--color-text);
    }
    &:disabled {
      background-color: var(--disabled-color);
      color: var(--disabled-text);
      border-color: var(--disabled-color);
    }
  }
}