@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    overflow: hidden!important;

}

.page {
    @apply h-full;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}
ion-content {
    /*--overflow: hidden*/
}
/*ion-navbar.toolbar.toolbar-ios.statusbar-padding,*/
/*ion-navbar.toolbar-ios ion-title.title-ios,*/
/*ion-toolbar.toolbar.toolbar-ios.statusbar-padding,*/
/*ion-toolbar.toolbar-ios ion-title.title-ios {*/
/*    padding-top: constant(safe-area-inset-top);*/
/*    padding-top: env(safe-area-inset-top);*/
/*}*/
ion-router-outlet {
    background-color: #000000;
}

.tab-inner-height {
    height: calc(100% - 44px - 50px);
}