<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>L&apos;accès au micro est utilisé pour enregistrer le cri de guerre et répondre à certaines énigmes </string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Autoriser l&apos;accès aux images permet d&apos;envoyer des photos dans le chat et de répondre aux énigmes</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Autoriser l&apos;accès aux images permet d&apos;envoyer des photos dans le chat et de répondre aux énigmes</string>
	<key>NSCameraUsageDescription</key>
	<string>Autoriser la caméra permet d&apos;envoyer des photos dans le chat et de répondre aux énigmes</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Nous utilisons la localisation pour le bon déroulement du jeu, lorsque le téléphone est verrouillé</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Nous utilisons la localisation pour le bon déroulement du jeu</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr</string>
	<key>CFBundleDisplayName</key>
	<string>Journiz</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
