@keyframes button-pop {
    0% {
        transform: scale(0.95);
    }
    40% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

.btn-animation:not(:disabled) {
    animation: button-pop 0.25s ease-out;
}

.btn-animation:active:hover:not(:disabled),
.btn-animation:active:focus:not(:disabled) {
    animation: none;
    transform: scale(0.95);
}

/**
Buttons
 */
@import 'scss/buttons';
